---
import Layout from '../layouts/Layout.astro';
import Matrix from '../components/Matrix.astro'
---
<Layout titulo="" >
  <div class="bg-black">
    <Matrix cantidad={9}></Matrix>
  </div>
</Layout>