---
import GithubIcon from "./Icon/GithubIcon.astro";
---

<a
  class="flex items-center gap-2 border focus:ring-2 focus:outline-none rounded-lg px-3 hover:bg-sal-500/40 transition-all duration-200"
  href="https://github.com/SalamandraDevs/salamandradevs.site"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Ir a página de Github de SalamandraDevs"
>
  <GithubIcon class="w-4 h-auto" />
  Github
</a>

<style>
  a {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
</style>
