<section id="hero" class="hero" aria-title="Hero">
  <div class="div-1">
    <h1>Salamandra Devs</h1>
    <p>
      Somos una comunidad inclusiva y colaborativa donde nos unimos para
      compartir conocimiento, resolvemos dudas, colaboramos en proyectos y sobre
      todo... !crecemos juntos!
    </p>
    <nav class="links" aria-label="Redes sociales">
      <a
        href="https://discord.gg/2t56qvky"
        target="_blank"
        rel="noopener noreferrer">Ingresa al Discord</a
      >
      <a
        href="https://t.me/salamandradevs/1"
        target="_blank"
        rel="noopener noreferrer">Siguenos en Telegram</a
      >
    </nav>
  </div>
  <div class="div-2">
    <img src="public/sala.png" alt="Salamandra" />
  </div>
</section>

<style>
  .hero {
    height: 300px;
    width: 300px;
    border: 1px solid var(--color-secondary-700);
  }
</style>
