
---
import '../styles/global.css';

/* define los tipos */
export interface Props {
	titulo: string;
	descripcion?: string
}

const {
	titulo,
	descripcion = "Somos un grupo de ayuda para desarrolladores de software, sysadmins, tech enthusiast, data science y blockchain."
} = Astro.props;
---  

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../../public/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
		
	</head>
	<body class="">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100vh;
		color: #fff;
		background: linear-gradient(to top right, #020617, #122258);
		background-size: 400% 400%;
		animation: cambioFondo 4000ms linear infinite;
	}

	@keyframes cambioFondo {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
		
	}
</style>
