/* ESTILOS CSS PARA EL SITIO WEB DE SALAMANDRADEVS */

/* Copyright GNU LGPL. 
   Puedes copiar, modificar y usar este software bajo los términos de la licencia general de uso público reducida de GNU.
   Encontrarás una copia de la licencia aquí https://www.gnu.org/licenses/lgpl-3.0.html */

/* Metodología mobile first o pantallas pequeñas primero.
   Primero se escriben las reglas para el ancho de portview
   más pequeño a considerar */

/* VARIABLES Y REGLAS GENERALES */
@charset "UTF-8";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --bgColorDark: #0e0e0e;
   --bgColorMidDark: #353b43;
   --bgColorLightDark: #4f5864;
   --bgColorLight: #D2D2D2;
   --globalScale: 1;
   
}

h1 {
   font-size: 6rem;
}

h2 {
   font-size: 4rem;
}

h3 {
   font-size: 3rem;
}

h4 {
   font-size: 2rem;
}

p {
   font-size: 1.5rem;
}

h1, h2, h3, h4, p {
   padding: 0.5rem 0;
   margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
   text-decoration: none;
   font-size: 1.5rem;
}

html {
   font-size: calc(62.5% * var(--globalScale));
   background-color: var(--bgColorLight);
   height: 100%;
}

/* REGLAS DEL HOME */

body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 5rem 1fr 5rem;
   grid-template-areas: /* No mostramos el aside en móbiles */
      "navbar"
      "main"
      "footer";
   height: 100%;
}

aside {
   grid-area: aside;
   display: none;
   flex-flow: column nowrap;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
   padding: 0 1rem;
   background-color: var(--bgColorDark);
}

aside .item {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   font-size: 1.5rem;
   width: 100%;
   padding: 1rem 0;
}

nav {
   display: flex;
   justify-content: space-between;
   grid-area: navbar;
   background-color: var(--bgColorDark);
   width: 100%;
}

nav div {
   display: flex;
   align-self: center;
   flex-flow: nowrap;
   width: 100%;
}

nav ul {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: flex-end;
   list-style-type: none;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.hover {
   --c:linear-gradient(#1482c8 0 0); /* update the color here */

   padding-bottom: .15em;
   background: var(--c), var(--c);
   background-size: .3em .1em;
   background-position:50% 100%;
   background-repeat: no-repeat;
   transition: .3s linear, background-size .3s .2s linear;
}

.hover:hover {
   background-size: 50% .1em;
   background-position: 10% 100%, 90% 100%;
}

nav li {
   display: flex;
   align-items: center;
   height: 100%;
 }
 
nav a {
   display: block;
   color: white;
   text-align: center;
   padding: 1rem 1.5rem;
   text-decoration: none;
 }

main {
   grid-area: main;
   padding: 2rem;
   background-color: var(--bgColorMidDark);
   background-image: url('../images/salamandra_margin.svg');
   background-size: 10rem;
   background-position-x: right;
   background-position-y: bottom;
   background-repeat: no-repeat;
}

/* Regla que aplica solo a firefox */
@-moz-document url-prefix() {
   main {
      background-image: url('../images/salamandra.svg');
      background-position-x: right 1rem;
      background-position-y: bottom 1rem;
   }
}

main hr {
   width: 100%;
}

.articles {
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   justify-content: space-between;
}

.articles article {
   width: 30rem;
   border: 1px solid;
   border-radius: 0.5rem;
   padding: 1rem;
   margin: 1rem;
}

.content table {
   padding-top: 2rem;
   margin: 0 auto;
}

.content table img {
   width: 3rem;
}

.content table td {
   padding: 0 0.3rem;
}

.content .highlight code {
   white-space: pre-wrap;
   overflow-x: auto;
}

footer {
   grid-area: footer;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0 2rem;
   background-color: var(--bgColorLightDark);
}

.greetings {
   width: 80%;
   height: 80%;
   margin: 0 auto;
}

@media screen and (min-width: 780px) {
   :root {
      --globalScale: 1.5;
   }

   body {
      grid-template-columns: 11rem 1fr;
      grid-template-areas: /* Tabletas se muestra el aside */
	 "navbar navbar"
	 "aside main"
	 "footer footer";
   }

   aside {
      display: flex;
   }
}

@media screen and (min-width: 1280px) {
   :root {
      --globalScale: 2;
   }
}

